fastapi
uvicorn[standard]
python-dotenv
httpx
aiofiles
gunicorn
sentence-transformers
torch
pinecone-client
llama-index
llama-index-embeddings-huggingface
llama-index-llms-groq
llama-index-vector-stores-pinecone
llama-index-postprocessor-cohere-rerank
pypdf